
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@model Food_Market.Data.Entity.Category


<div class="container-fluid">
    <h1 class="mt-4">Add Category</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Category">Category</a></li>
        <li class="breadcrumb-item active">Add Category</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Category">Back</a>
        </div>
      @if (TempData["errorr"] != null)
{
  <div class="alert alert-warning" role="alert">
          @TempData["error"]
        </div>  
}
        
        <div class="card-body">
            <div class="col-md-8">
            <form asp-action="CreateCategory" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                 <input asp-for="Name" class="form-control" required/>
            </div>
             <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required/>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
